@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #EFE9DC;
  color: #1F1A12;
}

body {
  background-color: #EFE9DC;
  color: #1F1A12;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
